<h2>Resources</h2>
<ul class="list-group">
    <% resources.forEach(resource=> { %>
        <li class="list-group-item">
            <%= resource.name %>: <%= resource.amount %>
        </li>
        <% }) %>
</ul>
<h2 class="mt-3">Population</h2>
<ul class="list-group">
    <li class="list-group-item">Population: <span id="population"> <%= population %> </span>
    </li>
    <li class="list-group-item">Workers: <span id="workers"> <%= workers %> </span>
    </li>
    <li class="list-group-item">
        Food (total nutrition): <span id="food"> <%= food %> </span>
            <% if (food===0) { %>
                <span id="starvation-warning" class="text-danger font-weight-bold" style="display:none;"> - Starvation Risk!</span>
                <% } %>
    </li>
</ul>