<%- include('partials/header.ejs'); -%>

    <div class="row">
        <div class="col-3">
            <h2>Resources</h2>
        </div>
        <div class="col-3">
            <ul class="list-group">
                <% resources.forEach(resource=> { %>
                    <li class="list-group-item">
                        <%= resource.name %>: <%= resource.amount %>
                    </li>
                    <% }) %>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <h2>Active Tasks</h2>
        </div>

        <div class="col-3">
            <ul class="list-group">

                <% tasks.forEach(task=> { %>

                    <% if (!task.completed) { %> <!-- prevent completed tasks showing -->

                        <li class="list-group-item">

                            <strong>
                                <%= task.name %>
                            </strong>

                            <div class="progress mt-2" role="progressbar">
                                <div class="progress-bar" data-started-at="<%= new Date(task.started_at).getTime() %>"
                                    data-craft-time="<%= task.craft_time_seconds %>">
                                </div>
                            </div>

                            <div class="complete-container mt-2" style="display:none;">
                                <form action="/complete-task" method="POST">
                                    <input type="hidden" name="taskId" value="<%= task.id %>">
                                    <button type="submit" class="btn btn-success btn-sm">
                                        Complete
                                    </button>
                                </form>
                            </div>

                        </li>

                        <% } %>

                            <% }) %>

            </ul>
        </div>

        <div class="col-3">
            <h2>Available Recipes</h2>

            <ul class="list-group">

                <% recipes.forEach(recipe=> { %>

                    <li class="list-group-item">

                        <form action="/start-task" method="POST">

                            <input type="hidden" name="recipeId" value="<%= recipe.id %>">

                            <button type="submit" class="btn btn-primary btn-sm">
                                Start <%= recipe.name %>
                            </button>

                        </form>

                    </li>

                    <% }) %>

            </ul>
        </div>

    </div>

    <%- include('partials/footer.ejs'); -%>