<%- include('partials/header.ejs'); -%>

    <div class="row">
        <div class="col">
            <h2>Resources</h2>
            <ul class="list-group">
                <% resources.forEach(resource=> { %>
                    <li class="list-group-item">
                        <%= resource.resource_type %>: <%= resource.amount %>
                    </li>
                    <% }) %>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Field</h2>
            <ul class="list-group">
                <% crops.forEach(crop=> { %>
                    <li class="list-group-item"> Crop #<%= crop.id %> -
                            Planted at: <%= crop.planted_at.toLocaleString() %> -
                                Harvested: <%= crop.harvested ? 'Yes' : 'No' %>
                    </li>
                    <% }) %>
            </ul>

            <form action="/plant" method="POST">
                <button type="submit" class="btn btn-primary">Plant Wheat</button>
            </form>
            <form action="/harvest" method="POST">
                <button type="submit" class="btn btn-success">Harvest Ready Crops</button>
            </form>
        </div>
    </div>
    <%- include('partials/footer.ejs'); -%>