<%- include('partials/header.ejs'); -%>
    <div class="row mb-4">
        <div class="col-3">
            <%- include('partials/resources.ejs'); -%>
        </div>
        <div class="col-4">
            <%- include('partials/active-tasks.ejs'); -%>
        </div>
        <div class="col-4">
            <%- include('partials/recipes.ejs'); -%>
                <%- include('partials/buildings.ejs'); -%>
        </div>
    </div>
    <script>
        async function pollStats() {
            try {
                const res = await fetch("/api/player-stats");
                const data = await res.json();

                document.getElementById("population").textContent = data.population;
                document.getElementById("workers").textContent = data.workers;
                document.getElementById("food").textContent = data.food;

                // starvation warning
                const warning = document.getElementById("starvation-warning");
                if (data.food <= 0) {
                    warning.style.display = "block";
                } else {
                    warning.style.display = "none";
                }

            } catch (err) {
                console.error(err);
            }

            // wait AFTER request finishes
            setTimeout(pollStats, 3000);
        }

        pollStats();
    </script>
    <%- include('partials/footer.ejs'); -%>