<%- include('partials/header.ejs'); -%>

    <div class="row">
        <div class="col-3">
            <h2>Resources</h2>
        </div>
        <div class="col-3">
            <ul class="list-group">
                <% resources.forEach(resource=> { %>
                    <li class="list-group-item">
                        <%= resource.resource_type %>: <%= resource.amount %>
                    </li>
                    <% }) %>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <h2>Fields</h2>
        </div>
        <div class="col-3">
            <ul class="list-group">
                <% crops.forEach(crop=> { %>
                    <% if (!crop.harvested) { %>
                        <li class="list-group-item">
                            Time to harvest:
                            <div class="progress" role="progressbar">
                                <div class="progress-bar"
                                    data-planted-at="<%= new Date(crop.planted_at).getTime() %>" style="width: 0%">
                                </div>
                            </div>
                            <div class="harvest-container" style="display: none;">
                                <form action="/harvest" method="POST">
                                    <input type="hidden" name="cropId" value="<%= crop.id %>">
                                    <button type="submit" class="btn btn-success">Harvest</button>
                                </form>
                            </div>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        </div>
        <div class="col-3">
            <form action="/plant" method="POST">
                <button type="submit" class="btn btn-primary">Plant Wheat</button>
            </form>
        </div>
    </div>
    <%- include('partials/footer.ejs'); -%>