<%- include('partials/header.ejs'); -%>
    <div class="row mb-4">
        <div class="col-3">
            <%- include('partials/resources.ejs'); -%>
        </div>
        <div class="col-4">
            <%- include('partials/active-tasks.ejs'); -%>
        </div>
        <div class="col-4">
            <%- include('partials/recipes.ejs'); -%>
            <%- include('partials/buildings.ejs'); -%>
        </div>
    </div>
    <%- include('partials/footer.ejs'); -%>